{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<div class="row justify-content-center">
  <div class="col-4">
    
    <h1 class="mt-6">SignUp</h1>
    <hr class="mt-5 mb-4">
    <form action="{% url 'student:signup_view' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">SignUp</button>
    </form>  
  </div>
  
</div>
  
{% endblock %}